language: python

sudo: false

python:
  - "2.7"
  - "3.5"

matrix:
  include:
    # "Legacy" environments: oldest supported versions, without and with numba
    - python: "2.7"
      env: DEPS="numpy=1.8.2 scipy=0.12.0 matplotlib=1.3 astropy=1.2 progressbar"
    - python: "2.7"
      env: DEPS="numpy=1.8.2 scipy=0.13.3 matplotlib=1.3 astropy=1.3 progressbar-latest"
    # "Recommended" environments: More recent versions, for Py2 and Py3.
    - python: "2.7"
      env: DEPS="numpy=1.9 scipy=0.16 matplotlib=1.4 astropy=1.3.1 progressbar"
    - python: "2.7"
      env: DEPS="numpy scipy matplotlib astropy progressbar2"
    - python: "3.4"
      env: DEPS="numpy=1.9 scipy=0.16 matplotlib=1.4 astropy=1.3 progressbar2"
    - python: "3.5"
      env: DEPS="numpy scipy matplotlib astropy progressbar2"
    - python: "3.6"
      env: DEPS="numpy scipy matplotlib astropy progressbar2" 

install:
  # Fetch and install conda
  # -----------------------
  - export CONDA_BASE="http://repo.continuum.io/miniconda/Miniconda"
  - if [[ "${TRAVIS_PYTHON_VERSION}" == 2* ]]; then
      wget ${CONDA_BASE}2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget ${CONDA_BASE}3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p ${HOME}/miniconda
  - export PATH="${HOME}/miniconda/bin:${PATH}"

  # Create the testing environment
  # ------------------------------
  - conda config --set always_yes true
  - conda config --set changeps1 no
  - conda config --set show_channel_urls true
  - conda config --add channels conda-forge
  - conda config --add channels auto
  - conda update --quiet conda
  - ENV_NAME="test-environment"
  - conda create --quiet -n ${ENV_NAME} python=${TRAVIS_PYTHON_VERSION}
  - source activate ${ENV_NAME}

  # Customise the testing environment
  # ---------------------------------
  - conda install --quiet $DEPS
  - pip install setuptools
  - pip install codecov

  # Summerise environment
  # ---------------------
  - conda list
  - conda info -a

  # Install and test imagehash
  - python setup.py install

script:
  - coverage run setup.py test
  
  - cd doc/
  - 'echo "backend: Agg" > matplotlibrc'
  
  # creating offset catalogues
  - nway-create-fake-catalogue.py --radius 20 COSMOS_XMM.fits COSMOS_XMM-fake.fits
  - test -e COSMOS_XMM-fake.fits
  - nway-create-shifted-catalogue.py --radius 40 --shift-ra 60 COSMOS_XMM.fits COSMOS_XMM-shift.fits
  - test -e COSMOS_XMM-shift.fits
  - rm -f COSMOS_XMM-shift.fits
  - nway-create-shifted-catalogue.py --radius 40 --shift-dec 60 COSMOS_XMM.fits COSMOS_XMM-shift.fits
  - test -e COSMOS_XMM-shift.fits

  # 2 catalogue match
  - nway.py COSMOS_XMM.fits :pos_err COSMOS_OPTICAL.fits 0.1 --out=example2.fits --radius 20
  - test -e example2.fits
  - nway.py COSMOS_XMM-shift.fits :pos_err COSMOS_OPTICAL.fits 0.1 --out=example2-offset.fits --radius 20
  - test -e example2-offset.fits

  # 2 catalogue match, with magnitudes
  - nway.py COSMOS_XMM.fits :pos_err COSMOS_OPTICAL.fits 0.1 --out=example2-mag.fits --radius 20 --mag OPT:MAG auto --mag-radius=4
  - test -e example2-mag.fits
  - test -e OPT_MAG_fit.pdf
  - test -e OPT_MAG_fit.txt
  - nway.py COSMOS_XMM-shift.fits :pos_err COSMOS_OPTICAL.fits 0.1 --out=example2-mag-offset.fits --radius 20 --mag OPT:MAG OPT_MAG_fit.txt
  - test -e example2-mag-offset.fits

  # 3 catalogue match
  - nway.py COSMOS_XMM.fits :pos_err COSMOS_OPTICAL.fits 0.1 COSMOS_IRAC.fits 0.5 --out=example3.fits --radius 20
  - test -e example3.fits
  - nway.py COSMOS_XMM-shift.fits :pos_err COSMOS_OPTICAL.fits 0.1 COSMOS_IRAC.fits 0.5 --out=example3-offset.fits --radius 20
  - test -e example3-offset.fits

  # 3 catalogue match, with magnitudes
  - nway.py --radius 20 COSMOS_XMM.fits :pos_err COSMOS_OPTICAL.fits 0.1 COSMOS_IRAC.fits 0.5 --mag OPT:MAG auto --mag IRAC:mag_ch1 auto --mag-radius 4 --out=example3-mag.fits
  - test -e example3-mag.fits
  - test -e IRAC_mag_ch1_fit.pdf
  - test -e IRAC_mag_ch1_fit.txt
  - nway.py COSMOS_XMM-shift.fits :pos_err COSMOS_OPTICAL.fits 0.1 COSMOS_IRAC.fits 0.5 --out=example3-mag-offset.fits --radius 20 --mag OPT:MAG OPT_MAG_fit.txt  --mag IRAC:mag_ch1 IRAC_mag_ch1_fit.txt 
  - test -e example3-mag-offset.fits

  # create fake catalogues
  - nway-explain.py example3.fits 422

  - nway-calibrate-cutoff.py example2.fits example2-offset.fits 
  - test -e example2.fits_p_any_cutoffquality.pdf
  - test -e example2.fits_p_any_p_i.pdf
  - nway-calibrate-cutoff.py example3-mag.fits example3-mag-offset.fits 
  
  # we should test for created output files
  - ls
  
  - cd -

after_success: codecov
